@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "poppins", sans-serif;
}

body {
    margin: 30px;
    background-color: #435334;
}

h1 {
    text-align: center;
}

#form-diary{
    padding: 20px;
    background-color: #CEDEBD;
    border-radius: 8px;
}

.form-element {
    margin-bottom: 15px;
}

#submitBtn{
    padding: 5px 10px;
    color: #FAF1E4;
    border: none;
    background-color: #9EB384;
    border-radius: 8px;
}