@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "poppins", sans-serif;
}

body {
    margin: 30px;
    background-color: #435334;
}

h1 {
    text-align: center;
}

p {
    color: #333;
}
input, textarea {
    outline: none;
    padding: 5px 10px;
    color: #363636;
    border: none;
    border-radius: 6px;
}

textarea:focus {
    box-shadow: 0px 1px 3px #000000;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
}

/* Html styling */
#form-diary{
    padding: 20px;
    background-color: #CEDEBD;
    border-radius: 8px;
}

.form-element {
    margin-bottom: 15px;
}

#submitBtn{
    padding: 5px 10px;
    color: #FAF1E4;
    border: none;
    background-color: #9EB384;
    border-radius: 8px;
}

#submitBtn:hover {
    background-color: #435334;
}

/* javascript html tags */
#diary-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width:1100px) {
    #diary-card {
        grid-template-columns: auto auto;
    } 
}

@media (max-width:480px) {
    #diary-card {
        grid-template-columns: auto ;
    } 
}

.card-notes {
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #9EB384;
    border-radius: 10px;  
}

.btn {
    text-align: right;
}
